<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899628113723-e9kqfi0t3f72l1dgj78de26662gcdk65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899628113723-e9kqfi0t3f72l1dgj78de26662gcdk65</string>
	<key>API_KEY</key>
	<string>AIzaSyDdR7KuDp2u7CPrK9yJAdTLzxq0d8WXpXc</string>
	<key>GCM_SENDER_ID</key>
	<string>899628113723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kedlaya.Kolony</string>
	<key>PROJECT_ID</key>
	<string>kolony-0804</string>
	<key>STORAGE_BUCKET</key>
	<string>kolony-0804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899628113723:ios:dbff91fe29e334ba18a11e</string>
	<key>DATABASE_URL</key>
	<string>https://kolony-0804.firebaseio.com</string>
</dict>
</plist>